<div style='float: left'>
<input type="button" value="Join Game" id="joinGame" />
<input type="button" value="Debug" id="debug" />
<table>
	<tr>
		<td>Player1:</td>
		<td><p id="player1"l> <%= player1 %> </p> </td>
	<tr>
	<tr>
		<td>Player2:</td>
		<td><p id="player2"> <%= player2 %> </p> </td>
	<tr>
	<tr>
		<td>Whose turn is it?</td>
		<td><p id="turn"> <%= turn %> </p> </td>
	</tr>
</table>
<hr>
</div>
<div style='float: right'>
<table bgcolor="#000000">
  <tr>
		<% row1.forEach(function(url, index) { %>
		<td id='b<%= index %>'><img src='<%= url %>'></td>
		<% }); %>
  </tr>
  <tr>
		<% row2.forEach(function(url, index) { %>
		<td id='b<%= index + 3 %>'><img src='<%= url %>'></td>
		<% }); %>
  </tr>
  <tr>
		<% row3.forEach(function(url, index) { %>
		<td id='b<%= index + 6 %>'><img src='<%= url %>'></td>
		<% }); %>
  </tr>
</table>
</div>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
